<component name="ArtifactManager">
  <artifact type="war" name="SpringMVC-exception-handler:war">
    <output-path>$PROJECT_DIR$/SpringMVC-exception-handler/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>SpringMVC-exception-handler</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="SpringMVC-exception-handler-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringMVC-exception-handler:war exploded" />
    </root>
  </artifact>
</component>